{% extends 'dashboard.html' %}
{% block content %}
    <div id="services" class="tabcontent w3-container city w3-animate-zoom">
        <h1>Welcome {{ user.get_full_name }}</h1>
        <div class="row justify-content-center">
            <div class="col-7">
                <img src="{{ user.profile.url }}" class="img-thumbnail w-50 p-3 shadow p-3 mb-5 bg-white rounded" alt="Responsive image"/>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-2" style="align-content: center">
                <b>
                    <label>username</label><br>
                    <label>Full Name</label><br>
                    <label>Email</label><br>
                    <label>Gender</label><br>
                    <label>Date of Birth</label><br>
                    <label>Address</label><br>
                </b>
            </div>
            <div class="col-5">
                <label>{{ user.username }}</label><br>
                <label>{{ user.get_full_name }}</label><br>
                <label>{{ user.email }}</label><br>
                <label>{{ user.Gender }}</label><br>
                <label>{{ user.birthdate }}</label><br>
                <label>{{ user.address }}</label></div>
        </div>
        <div class="row">
            <div class="col-7 row justify-content-center" style="margin-left: 90px; margin-top: 10px">
                <a class="btn btn-outline-primary" href="{% url "Member:edit" %}" role="button">Edit profile</a>
            </div>
        </div>
    </div>
{% endblock %}